<div class="details-page" *ngIf="bike">
  <div class="col">
    <div class="image-container" (click)="zoomImage = true">
      <img src="{{ bike.imgUrl }}" alt="{{ bike.name }}" id="myImg" #myImg />

      <span class="zoom">+ zoom</span>
    </div>

    <div class="colors-show">
      <p>{{ bike.color.join("/") }}</p>
    </div>
  </div>

  <!-- ZOOM IMAGE -->
  <div class="zoom-image" id="myModal" #myModal *ngIf="zoomImage">
    <span class="close" (click)="zoomImage = false">&times;</span>

    <img id="img01" src="{{ bike.imgUrl }}" #img01 class="image-content" />

    <div id="caption">{{ bike.name }}</div>
  </div>
  <!-- ZOOM IMAGE -->

  <div class="col">
    <div class="bike-title">
      <h1>{{ bike.name }}</h1>
    </div>

    <div class="bike-desc">
      <p>
        {{ bike.description | shorten: descriptionLength:"..." }}
        <span *ngIf="bike.description.length > descriptionLength" (click)="descriptionLength = bike.description.length">
          (Read More)
        </span>
      </p>
    </div>

    <div class="bike-price">
      <div class="price">
        <p class="old-price">
          {{ bike.price | currency: "EUR" }}
        </p>

        <p [ngStyle]="{
            'color':getColor(bike.discount)
          }">
          {{
              bike.price - (bike.discount / 100) * bike.price
                | currency: "EUR"
            }}
        </p>
      </div>

      <div>
        <p class="is-discount" [ngStyle]="{
          'background-color': getColor(bike.discount)
        }">
          -{{ bike.discount }}%
        </p>
      </div>
    </div>

    <div class="bike-reviews">

    </div>
  </div>
</div>
