<form [formGroup]="form" style="position: absolute;">
  <h2>Login as administrator</h2>

  <div class="form-control">
    <label for="login">Login</label>
    <input id="login" type="text" formControlName="login">
    <div *ngIf="form.get('login').touched && form.get('login').invalid">
      <small *ngIf="form.get('login').errors.required">
        Enter Login
      </small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="text" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">
        Enter Password
      </small>
      <small *ngIf="form.get('password').errors.minLength">
        Password must be at least {{form.get('password').errors.minlength.requiredLength}} characters.
      </small>
    </div>
  </div>
</form>
