/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@mixin showAbout {
  .about-us {
    &__content {
      .inner {
        clip-path: circle(100% at 50% 100%);

        span {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1380px) {
  html {
    font-size: 9px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  html {
    font-size: 7.5px;
  }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

.carousel-container>.carousel-cells>.carousel-cell {
  width: 80% !important;
}

@media (min-width: 768px) and (max-width: 1024px) {

  html {
    font-size: 7px;
  }

  .header-page {
    .open {
      width: 100%;
    }

    .header-nav,
    .sidebar {
      z-index: 10000;
      background-color: rgba(54, 69, 79, 1);
    }

    .header-nav__list {
      font-size: 3rem;
      justify-content: center;
    }
  }

  .header-page {
    .header-nav {
      &__list {
        li {
          letter-spacing: 0.4rem;
        }

        li:hover {
          font-size: 110%;
        }
      }
    }
  }

  @include showAbout;

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  html {
    font-size: 6.5px;
  }


  .carousel-container>.carousel-cells>.carousel-cell {
    width: 70% !important;
  }


  .contact-page,
  .carousel,
  .header__title {
    z-index: 2 !important;
  }


  .header-content mdb-carousel {
    width: 100% !important;
  }

  .header-page {
    .open {
      width: 100%;
    }

    .header-nav,
    .sidebar {
      z-index: 10;
      background-color: rgba(54, 69, 79, 1);
    }

    .header-nav__list {
      font-size: 3rem;
      justify-content: center;
    }
  }
}




@include showAbout;

.ui-datepicker {
  width: 25%;
  height: 25%;
}



/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 6px;
  }

  .contact-page,
  .carousel,
  .header__title {
    z-index: 2 !important;
  }

  .header-content {
    width: 100% !important;
    margin-left: -45% !important
  }

  .header-content mdb-carousel {
    width: 100% !important;
  }

  .carousel>.carousel-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  agm-map,
  .carousel {
    width: 90% !important;
  }

  .carousel-arrow {
    height: 30px !important;
    width: 30px !important;
    background-size: 20px !important;
  }

  .header-page {
    .open {
      width: 100%;
    }

    ion-icon {
      width: 70px;
      height: 70px;
    }

    .header-nav,
    .sidebar {
      z-index: 7;
      background-color: rgba(54, 69, 79, 1);
    }

    .header-nav__list {
      font-size: 3rem;
      justify-content: center;
    }
  }

  .carousel-container {
    width: 65%;
  }

  .carousel {
    height: 70rem;
    padding: 10px;

    img {
      width: 60%;
    }

    &__slide {
      .carousel__content {
        width: 40%;
      }
    }
  }

  @include showAbout;

}
