<div class="contact-page">

  <div class="contact-info">
    <h1>{{title}}</h1>

    <ul class="contact-details" *ngFor="let address of address">
      <li>Country: {{address.country}}</li>
      <li>City: {{address.city}}</li>
      <li>Address: {{address.address}}</li>
      <li>ZIP: {{address.zipCode}}</li>
    </ul>

    <h1 class="contact-us"><a [routerLink]="['/form', 'contact']">CONTACT US</a></h1>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
