<div class="container">

  <div class="products" *ngIf="products; else loading">
    <h2>Dashboard of products</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Open</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>

          <td>
            <button class="btn" [routerLink]="['/admin', 'bike', 'product.id', 'edit']">Open</button>
          </td>
          <td>
            <button class="delete-btn" (click)="removeProduct(selectedRemove[i])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!-- Loading -->
  <ng-template #loading>
    <p class="loading" style="font-size: 8rem; text-align: center; margin-top: 25%;">Loading...</p>
  </ng-template>
</div>
