<div class="header-content">
  <h1 class="header__title">
    Products
  </h1>

  <carousel style="width: 70%; height: 100%;" cellWidth="800" loop="true" autoplay="true" pauseOnHover="true"
    autoplayInterval="5000">
    <div class="carousel-cell" *ngFor="let product of goods">
      <div class="content-container">
        <h2>{{ product.name }}</h2>
        <h3>{{ product.price }}</h3>
        <img src="{{ product.imgSrc }}" style="height: 30rem; width: 50rem" />
        <button class="bubbly-button">BUY NOW!</button>
      </div>
    </div>
  </carousel>
</div>
