.header-content {
  position: absolute;
  top: 0;
  margin-top: -7.5rem;
  height: calc(100% + 7.5rem);
  z-index: 2;

  .header__title {
    color: #fff;
    font-size: 3rem;
    z-index: 1000;
  }

  p {
    margin: 0;
  }

  mdb-carousel {
    width: 50%;
    height: 70%;
    margin-top: 20rem;
    margin-bottom: 3rem;

    .content-container {
      height: 100%;
      width: 100%;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
      border-radius: 20px;
      position: relative;
      z-index: 1;
      background: inherit;
      overflow: hidden;
      padding: 20px;

      .preview {
        height: 100%;
        width: 100%;



        &>div>div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-family: 'Menu';
          font-weight: 700;
          color: white;
          letter-spacing: .25rem;
        }
      }

      .slide-nav,
      .slide-footer {
        width: 100%;
        height: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .bike-image {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        img {
          width: 70%;
          height: 70%;
        }

      }

      &:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        margin: -20px;
      }

      .bike-btn {
        .bubbly-button {
          width: 12rem;
          height: 6rem;
        }
      }

      .discount-price {
        p {
          color: #28df99;
        }
      }

      .price {
        display: flex;
        align-items: center;
      }

      .old-price {
        text-decoration: line-through;
        margin-right: 1rem;
      }

      .is-discount {
        background-color: #28df99;
        padding: 0.5rem;
      }

      .bike-shipping>p {
        color: #ff4b5c;
      }

      .bike-details {
        cursor: pointer;
      }

      .bike-new>p {
        color: red;
      }

      .bike-discount {
        display: flex;
        flex-direction: column;

        &>div>p {
          font-size: 1.5rem;
        }
      }


      // details
      .details {
        width: 100%;
        height: 100%;
        padding: 20px;

        p {
          font-family: 'Menu';
          font-weight: 700;
          color: white;
          letter-spacing: .25rem;
          font-size: 1.6rem;
        }

        &-header {
          height: 30%;
          width: 100%;
          display: flex;
          margin-bottom: 3rem;

          .info-container {
            width: 30%;
            height: 100%;
            margin-right: 3rem;

            p:first-child {
              margin-bottom: 3rem;
            }
          }

          .description-container {
            width: 70%;
            height: 100%;
          }
        }

        h1 {
          margin: 0;
          color: white;
          font-size: 3rem;
        }

        .reviews {
          height: 70%;
          width: 100%;


          .review {
            width: 100%;
            margin-bottom: 3rem;

            .text {
              margin-bottom: 3rem;
            }

            &-footer {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

    }

    h2,
    h3 {
      color: #fff;
    }

    h2 {
      font-size: 2.2rem;
    }

    h3 {
      font-size: 2rem;
    }

    button {
      margin-bottom: 1rem;
    }
  }
}
