.container {
  position: absolute;
  top: 12.5%;
  left: 0;
  right: 0;
  z-index: 2;
  width: 70%;
  height: 85%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;

  .example-radio-group {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
}
