@import './styles/main.scss';

li.active a {
  color: #fff;
  font-weight: bold;
  cursor: default;
  opacity: 1;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
