@import './styles/main.scss';
@import '~quill/dist/quill.snow.css';

li.active a {
  color: #fff;
  font-weight: bold;
  cursor: default;
  opacity: 1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
