<div class="header" id="home">
  <div class="header-page" style="display: block;">
    <nav class="header-nav" id="navbar">
      <ul class="header-nav__list">
        <li class="header-nav__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">
          <a [routerLink]="['/']" class="header-nav__item-link" (click)="auth.logout()">MAIN PAGE</a>
        </li>
        <ng-template #login>
          <ul class="header-nav__list">
            <li class="header-nav__item" routerLinkActive="active">
              <a [routerLink]="['/admin', 'login']">LOGIN</a>
            </li>
          </ul>
        </ng-template>
      </ul>
      <ul class="header-nav__list" *ngIf="auth.isAuthenticated(); else login">
        <li class="header-nav__item" routerLinkActive="active">
          <a class="header-nav__item-link" [routerLink]="['/admin', 'dashboard']">DASHBOARD</a>
        </li>
        <li class="header-nav__item" routerLinkActive="active">
          <a class="header-nav__item-link" [routerLink]="['/admin', 'add']">ADD PRODUCT</a>
        </li>
        <li class="header-nav__item" routerLinkActive="active">
          <a class="header-nav__item-link" (click)="logout($event)">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
